{% extends 'base.html'%}
{% block content %}
    {% block social-icons %}
        <div class="social-media">
            <ul>
                <li><a href=""><i class="fa fa-whatsapp"></i></a></li>
                <li><a href="https://www.facebook.com/profile.php?id=61561500103159"><i class="fa fa-facebook"></i></a></li>
            </ul>
        </div>
    {% endblock social-icons%}

    {% block hero %}
        <div class='hero'>
            <div class="container">
                <section class="home-page d-flex justify-content-center align-items-center" data-pages="home">
                    <div class="container">
                        <div class="content d-flex flex-column justify-content-center align-items-center">
                            <h1 class="text-center">Digital Touch</h1>
                            <small class="text-center">Turning <span class='font-weight-bold'>Ideas</span> Into Digital Space</small>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    {% endblock hero%}
{% endblock content%}