{% extends 'base.html'%}
{% block content %}
    {% block hero %}
        <div class='hero'>
            <div class="container">
                <section class="home-page d-flex justify-content-center align-items-center" data-pages="home">
                    <div class="container">
                        <div class="content d-flex flex-column justify-content-center align-items-center">
                            <h1 class="text-center">Digital Touch</h1>
                            <small class="text-center">Turning <span class='font-weight-bold'>Ideas</span> Into Digital Space</small>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    {% endblock hero%}
{% endblock content%}